* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    height: 370px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px 3px;
    border-radius: 8px;
}

.main {
    height: 350px;
    width: 350px;
    background-image: linear-gradient(to bottom left, #4ec6ca, #43389f);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.hun {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.one {
    width: 30px;
    height: 130px;
    background: #fff;
    position: relative;
    left: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.555);
    z-index: 2;
    border-radius: 5px 2px 0 0;
}

.one-stroke {
    width: 30px;
    height: 50px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.555);
    background: #fff;
    rotate: 40deg;
    position: relative;
    top: -35px;
    left: 22px;
    border-radius: 2px 2px 0 0;
}

.zero {
    height: 130px;
    width: 130px;
    border: 30px solid #fff;
    background: transparent;
    border-radius: 50%;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.555);
}

.zero-1 {
    z-index: 1;
}

.zero-2 {
    position: relative;
    left: -15px;
}

.days .text {
    font-size: 100px;
    font-weight: 900;
    color: #fff;
}

.title .text {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    margin-top: -10px;
}

/* _________________________Subscribe Please_________________________________ */
.link {
    position: absolute;
    bottom: 20px;
}

.sub {
    position: relative;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.sub .text {
    color: black;
    font-size: 25px;
}
