* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 350px;
    width: 350px;
    background-image: linear-gradient(to bottom left, #4ec6ca, #43389f);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
}

.container .first {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.one {
    height: 95px;
    width: 25px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.555);
    border-radius: 2px;
    z-index: 2;
    position: relative;
    left: 14px;
}

.one-stroke {
    height: 40px;
    width: 25px;
    background-color: white;
    border-radius: 2px;
    position: relative;
    rotate: 43deg;
    top: -25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.555);
    left: 24px;
}

.zero-1,
.zero-2 {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    border: 25px solid white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.555);
}

.zero-1 {
    position: relative;
    z-index: 1;
}

.zero-2 {
    position: relative;
    left: -15px;
}

.days .text {
    font-size: 90px;
    font-weight: 900;
    color: #fff;
}

.text {
    font-size: 23px;
    color: #fff;
    font-weight: 700;
    margin-top: -10px;
    letter-spacing: 1px;
}



.link {
    position: absolute;
    bottom: 20px;
}

.sub {
    position: relative;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.sub .text {
    color: black;
    font-size: 25px;
}